{% load static%}
<!DOCTYPE HTML>
<html>
	<head>
		<title>AutoHub</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{% url 'home' %}" class="logo">
									<span class="fa fa-car"></span> <span class="title">AutoHub</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{% url 'all_cars' %}">Cars</a></li>

        <li>
            <a href="#" class="dropdown-toggle">
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}
                {% else %}
                    User Settings
                {% endif %}
            </a>

            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="#">Account Settings</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </li>

		<li>
			<a href="#" class="dropdown-toggle">About</a>
			<ul>
				<li><a href="{% url 'about' %}">About Us</a></li>
				<li><a href="{% url 'team' %}">Team</a></li>
				<li><a href="{% url 'blog' %}">Blog</a></li>
				<li><a href="{% url 'testimonials' %}">Testimonials</a></li>
				<li><a href="{% url 'faq' %}">FAQ</a></li>
				<li><a href="{% url 'terms' %}">Terms</a></li>
			</ul>
		</li>
		
		<li><a href="{% url 'contact' %}">Contact Us</a></li>
</nav>


				<!-- Main -->
					<div id="main">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img class="d-block w-100" src="../../static/images/slider-image-1-1920x700.jpg" alt="First slide">
						    </div>
						    <div class="carousel-item">
						      <img class="d-block w-100" src="../../static/images/slider-image-2-1920x700.jpg" alt="Second slide">
						    </div>
						    <div class="carousel-item">
						      <img class="d-block w-100" src="../../static/images/slider-image-3-1920x700.jpg" alt="Third slide">
						    </div>
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>

						<br>
						<br>

						<div class="inner">
						<!-- About Us -->
<header id="inner">
    <h1>Find Your Perfect New or Used Car!</h1>
    <p>Explore a wide range of high-quality new and used vehicles. Whether you're looking for the latest models or reliable pre-owned cars, we've got you covered. Enjoy a seamless car buying experience with expert advice, transparent pricing, and a trusted selection of vehicles. Start your journey towards owning your dream car today!</p>
</header>


							<br>

							<h2 class="h2">Featured Cars</h2>
<!-- Cars -->
<section class="tiles">
    {% for car in cars %}
        {% if car.is_featured %}
            <article class="style{{ forloop.counter }}">
                <span class="image">
                    {% if car.image_filenames %}
                        <img src="{% static 'uploads/images/'|add:car.image_filenames.0 %}" alt="" />
                    {% else %}
                        <img src="{% static 'uploads/images/default.jpg' %}" alt="" />
                    {% endif %}
                </span>
                <a href="{% url 'car_details' car_id=car.id %}">
                    <h2>{{ car.make }} {{ car.model }}</h2>
                    <p><del><!--put canceled amount--></del> <strong>{{ car.additional_details.price }}</strong></p>
                    <p>
                        <i class="fa fa-dashboard"></i> {{ car.mileage }} &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-cube"></i> {{ car.engine_size }} cc&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-cog"></i> {{ car.gearbox }}
                    </p>
                </a>
            </article>
        {% endif %}
    {% endfor %}
</section>




							<p class="text-center"><a href="{% url 'all_cars' %}">View Cars &nbsp;<i class="fa fa-long-arrow-right"></i></a></p>
							
							<br>
							<h2 class="h2">What Our Customers Say</h2>

							<div class="row">
								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"Buying my first car here was an incredible experience! The staff was friendly and helped me find exactly what I needed within my budget. Highly recommend for anyone looking for a reliable vehicle!"</em></p>
									<p><strong>- Sarah Williams</strong></p>
								</div>
							
								<div class="col-sm-6 text-center">
									<p class="m-n"><em>"The selection of cars is amazing, and the purchasing process was seamless. I found the perfect car for my family, and the after-sales service has been top-notch."</em></p>
									<p><strong>- Michael Brown</strong></p>
								</div>
							</div>
							
							<p class="text-center"><a href="{% url 'testimonials' %}">Read More &nbsp;<i class="fa fa-long-arrow-right"></i></a></p>
							
							<br>
							
							<h2 class="h2">Latest from Our Blog</h2>
							
							<div class="row">
								<div class="col-sm-4 text-center">
									<img src="../../static/images/blog-1-720x480.jpg" class="img-fluid" alt="Car Buying Tips" />
									<h2 class="m-n"><a href="#">How to Choose the Right Car for Your Needs</a></h2>
									<p>by Jane Smith &nbsp;|&nbsp; 01/15/2024</p>
								</div>
							
								<div class="col-sm-4 text-center">
									<img src="../../static/images/blog-2-720x480.jpg" class="img-fluid" alt="Used Cars Guide" />
									<h2 class="m-n"><a href="#">A Complete Guide to Buying a Used Car</a></h2>
									<p>by David Johnson &nbsp;|&nbsp; 01/10/2024</p>
								</div>
							
								<div class="col-sm-4 text-center">
									<img src="../../static/images/blog-3-720x480.jpg" class="img-fluid" alt="Maintenance Tips" />
									<h2 class="m-n"><a href="#">Essential Maintenance Tips to Extend Your Car's Lifespan</a></h2>
									<p>by Emily Davis &nbsp;|&nbsp; 01/05/2024</p>
								</div>
							</div>
							
							<p class="text-center"><a href="{% url 'blog' %}">Read More &nbsp;<i class="fa fa-long-arrow-right"></i></a></p>
							

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact Us</h2>
								<form method="post" action="{% url 'submit_form' %}">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>

										<div class="field half">
											<input type="text" name="email" id="email" placeholder="Email" />
										</div>

										<div class="field">
											<input type="text" name="subject" id="subject" placeholder="subject" />
										</div>

										<div class="field">
											<textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
										</div>

										<div class="field text-right">
											<label>&nbsp;</label>

											<ul class="actions">
												<li><input type="submit" value="Send Message" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section>
								<h2>Contact Info</h2>

								<ul class="alt">
									<li><span class="fa fa-envelope-o"></span> <a href="#">AutoHub@gmail.com</a></li>
									<li><span class="fa fa-phone"></span> +254740024089 </li>
									<li><span class="fa fa-map-pin"></span> 5000-108 kiambu road, Nairobi East Africa</li>
								</ul>

								<h2>Follow Us</h2>

								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>
							</section>

							<ul class="copyright">
								<li>Copyright © 2024 Auto Hub</li>
								
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../../static/assets/js/jquery.min.js"></script>
			<script src="../../static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="../../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/assets/js/main.js"></script>

	</body>
</html>